.general {
    margin: 2rem;
}

.containerImg {
    text-align: center;
}

.image {
    margin-top: 1.5rem;
    border-radius: 8px;
    max-width: 65%;
    height: auto;
    box-shadow: 0 0 5px 0.3px #71ff1e;
}